@import '../brand';
.TransactionList {
  &:extend(#card);
  margin: 2rem auto;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  border: 1px solid @dividers;
  display: inline-block;

  & > table {
    border-collapse: collapse;

    & > thead > tr > th, & > tbody > tr > td {
      padding: 1.5rem 3rem;
      text-align: left;
      white-space: nowrap;
    }

    & > tbody> tr {
      background-color: @light-bg;
      border-top: 1px solid @dividers;
      &:hover td{
        color: @light-primary;
      }
    }

    & > thead {
      font-weight: normal;
      font-size: 1.2rem;
      color: @light-primary;
    }
  }

}

.Date {
  color: @light-fg;
}

.Company {
  font-weight: bold;
}

.Account {
  font-weight: bold;
  color: @light-fg;
  font-size: 0.9rem;
}

.Amount {
  font-weight: bold;
}

.Amount, .AmountHeading {
  text-align: right !important; // not so unforgivable when using css modules
}

.LoadingIndicator {
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  margin: 2rem auto;
  color: @light-fg;
  &:extend(#flash);
}

.ShowMore {
  font-weight: bold;
  display: block;
  width: 100%;  
  margin: 2rem auto;
  text-align: center;
  color: @tertiary;
  background: none;
  border: none;
  font-size:1.1rem;
  cursor: pointer;
  outline:none;
  &:hover {
    color: @secondary;
  }
  text-transform: uppercase;
}

.Problem {
  background-color: lighten(@secondary, 25%);
  padding: 2rem;
}

.Calculating {
  white-space: normal;
  font-size: 1rem;
  text-align: center;
  display: block;
  &:extend(#flash);
  font-variant: small-caps;
  text-transform: lowercase;;
  color: @light-fg;
}